<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
  <!-- Add any necessary CSS styles -->
</head>
<body>
  <div class="container">
    <h1>Login to your Account</h1>
    <form id="signupForm" action="/api/login" method="POST">
        <div class="form-group">
            <label for="username">User Name:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
       <div class="form-group">
          <button type="submit" id="signupButton" class="button signup-button" disabled>Login</button>
       </div>
    </form>
    <div class="errMssg"><p>Invalid password or username</p></div>
  </div>
  <script src="/js/loginScript.js"></script> <!-- Add the link to your loginScript.js file -->
</body>
</html>
